<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>コンポーネントの基本</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <h3>子コンポーネントのイベントを購読する</h3>
    <div>イベントと値を送出する</div>

    <div id="app1">
        <hr>
        <div>直接定義の場合</div>
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post"
                v-on:enlarge-text="postFontSize += $event"></blog-post>
        </div>

        <hr>
        <div>関数定義の場合</div>
        <div :style="{ fontSize: postFontSize2 + 'em' }">
            <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post" v-on:enlarge-text="onEnlargeText">
            </blog-post>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script>
        Vue.component('blog-post', {
            props: ['post'],
            template: `
    <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <button v-on:click="$emit('enlarge-text', 0.1)">拡大</button>
      <div v-html="post.content"></div>
    </div>
`
        });

        new Vue({
            el: '#app1',
            data: {
                posts: [{
                        id: 1,
                        title: 'Vueと私の旅',
                        content: 'Vueと共にあれ。'
                    },
                    {
                        id: 2,
                        title: 'Vueでブログを書く',
                        content: 'ブログを書いてみました。'
                    },
                    {
                        id: 3,
                        title: 'Vueがとても楽しい理由',
                        content: 'それは、神のみぞ知る。'
                    }
                ],
                postFontSize: 1,
                postFontSize2: 1
            },
            methods: {
                onEnlargeText: function (enlargeAmount) {
                    this.postFontSize2 += enlargeAmount
                }
            }
        });
    </script>
</body>

</html>